/* Theme 1 Colors */

$GarnetColor: #24293d;
$GrapeColor: #444c63;
$PebbleColor: $GrapeColor;
$SmokeColor: #cbcbd1;
$CloudColor: #e5e5ea;
$ArcticColor: #ffffff;

$CherryColor: #24293d;
$CoralColor: #F69275;
$SeafoamColor: #bdbdc6;

$WhiteColor: #fff;
$BlackColor: #000;

$CoralColorShade1: #F7A48B;
$CoralColorShade2: #F69275;
$CloudColorShade0: #e5e5ea;
$CloudColorShade1: #444C63;
$CloudColorShade2: #F7F7F9;
$CloudColorShade3: rgba($GarnetColor, 0.3);
$CloudColorShade4: #DFDFE3;
$CloudColorShade5: #CBCBD1;
$CloudColorShade6: #EAEAED;
$CloudColorShade7: #888D9A;
$CloudColorShade8: #E1E1E5;
$CloudColorShade9: #FAFAFB;

$BarColor: #03c5ed;
$BarColorShade1: #1bcbef;
$BarColorShade2: #35d1f1;
$BarColorShade3: #4ed6f2;
$BarColorShade4: #6adff7;
$BarColorShade5: #7fe2f6;
$BarColorShade6: #99e9f9;
$BarColorShade7: #adecf9;
$BarColorShade8: #d4f5fc;
$BarColorShade9: #eafbfe;

$TextColor: $GrapeColor;