@import './variables';
@import 'color';

.m-calendar {
  display: flex;
  flex-direction: column;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  td {
    height: 35px;
    padding: 6px 0;
    text-align: center;
    color: $colorGray;
    font-size: 11px;
    font-weight: normal;
  }

  thead {
    td {
      font-weight: bold;
      color: black;
      text-transform: uppercase;
    }
  }

  tbody td {
    color: #666666;

    &.today {
      color: black;
      font-weight: bold;
    }

    &.m-calendar-date {
      cursor: pointer;

      &:hover {
        background: $BarColor;
        color: $colorWhite;
      }
    }

    &.current-day {
      color: white;
      font-weight: bold;
      background-color: $BarColor;
      border-radius: 50%;
    }
  }

  .prev-month,
  .next-month {
    color: #999999;
  }

  .toolbar {
    display: flex;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background-color: $BarColorShade8;
    text-transform: uppercase;

    i {
      margin: 0 10px;
      transform: rotate(90deg);
      cursor: pointer;

      &:first-of-type {
        margin-left: 2px;
      }
    }

    span {
      font-size: 13px;
      font-weight: normal;
    }

    span {
      margin: 0 auto;
    }
  }


}
